<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 3px solid #46b451;
            width: 500px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 3px solid #46b451;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3>books:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Author</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}" >
        <td th:text="${book.id}">1</td>
        <td th:text="${book.name}">Book 1</td>
        <td th:text="${book.genre.name}">Genre 1</td>
        <td th:text="|${book.author.getLastName()} | + | ${book.author.getFirstName()}|">Author</td>
        <td>
            <a href="edit.html" th:href="@{/edit(id=${book.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
