<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testService" class="ru.otus.shepin.spring.service.TestService">
        <constructor-arg index="0" ref="testDataService"/>
        <constructor-arg index="1" ref="userCommunicationWithService"/>
    </bean>

    <bean id="testController" class="ru.otus.shepin.spring.controller.TestController">
        <constructor-arg index="0" ref="scannerManager"/>
        <constructor-arg index="1" ref="personService"/>
        <constructor-arg index="2" ref="testService"/>
        <constructor-arg index="3" ref="resultPrintService"/>
    </bean>

    <bean id="userCommunicationWithService" class="ru.otus.shepin.spring.service.UserCommunicationWithService">
        <constructor-arg index="0" ref="scannerManager"/>
    </bean>

    <bean id="personService" class="ru.otus.shepin.spring.service.PersonService">
        <constructor-arg index="0" ref="userCommunicationWithService"/>
    </bean>

    <bean id="resultPrintService" class="ru.otus.shepin.spring.service.ResultPrintService"/>
    <bean id="scannerManager" class="ru.otus.shepin.spring.manager.ScannerManager"/>
    <bean id="fileStreamService" class="ru.otus.shepin.spring.fileService.FileStreamService"/>

    <bean id="testDataService" class="ru.otus.shepin.spring.service.TestDataService">
        <constructor-arg index="0" ref="fileStreamService"/>
    </bean>
</beans>