<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testService" class="ru.otus.shepin.spring.service.passService.TestServiceImpl">
        <constructor-arg index="0" ref="testDataService"/>
        <constructor-arg index="1" ref="userCommunicationWithService"/>
        <constructor-arg index="2" ref="resultPrintService"/>
    </bean>

    <bean id="testController" class="ru.otus.shepin.spring.controller.TestController">
        <constructor-arg index="0" ref="scannerService"/>
        <constructor-arg index="1" ref="personService"/>
        <constructor-arg index="2" ref="testService"/>
        <constructor-arg index="3" ref="resultPrintService"/>
    </bean>

    <bean id="userCommunicationWithService" class="ru.otus.shepin.spring.service.personDataService.userCommunication.UserConsoleCommunicationService">
        <constructor-arg index="0" ref="scannerService"/>
        <constructor-arg index="1" ref="resultPrintService"/>
    </bean>

    <bean id="personService" class="ru.otus.shepin.spring.service.personDataService.PersonDataServiceImpl">
        <constructor-arg index="0" ref="userCommunicationWithService"/>
    </bean>

    <bean id="resultPrintService" class="ru.otus.shepin.spring.service.printService.PrintServiceImpl"/>
    <bean id="scannerService" class="ru.otus.shepin.spring.service.scannerService.ScannerServiceImpl"/>
    <bean id="fileStreamService" class="ru.otus.shepin.spring.service.fileService.FileStreamService"/>

    <bean id="testDataService" class="ru.otus.shepin.spring.service.importDataService.TestImportServiceFile">
        <constructor-arg index="0" ref="fileStreamService"/>
    </bean>
</beans>